{{ define "main" }}
<main>
    <section id="About">
        {{ .Content }}
    </section>
    <section id="Experience">
        <h3>Experience</h3>
        <section>
            <h4><strong>Cloud Bank /</strong> Head of Development</h4>
            <span class="Duration">September 2022 — Present</span>
        </section>
        <section>
            <h4><strong>Gloc.al /</strong> Chief Technical Officer</h4>
            <span class="Duration">August 2022 — Present</span>
        </section>
        <section>
            <h4><strong>BetterAskBot /</strong> Chief Technical Officer</h4>
            <span class="Duration">March 2022 — August 2022</span>
        </section>
        <section>
            <h4><strong>Yandex /</strong> Senior Frontend Developer</h4>
            <span class="Duration">June 2021 — March 2022</span>
        </section>
        <section>
            <h4><strong>Automatic Solutions LLC. /</strong> Chief Technical Officer</h4>
            <span class="Duration">July 2019 — June 2021</span>
        </section>
        <section>
            <h4><strong>Automatic Solutions LLC. /</strong> Software Development</h4>
            <span class="Duration">December 2017 — July 2019</span>
        </section>
        <section>
            <h4><strong>Self-Employed /</strong> Web Development</h4>
            <span class="Duration">September 2014 — May 2016</span>
        </section>
    </section>
    <section id="Education">
        <h3>Education</h3>
        <section>
            <h4><strong>BSUIR /</strong> Software for IT</h4>
            <span class="Duration">May 2019 — Present</span>
        </section>
        <section>
            <h4><strong>BSMU /</strong> General Medicine</h4>
            <span class="Duration">May 2016 — MAY 2019</span>
        </section>
    </section>
    <section id="Stack">
        <h3>Stack</h3>
        <section>
            <h4><strong>2023</strong></h4>
            <p>TypeScript, React, Vue, GraphQL, CloudFlare KV, CloudFlare Network</p>
        </section>
        <section>
            <h4><strong>2022</strong></h4>
            <p>TypeScript, React, Go, Yandex Database, Yandex Message Queue, Cloud Functions, ClickHouse, Yandex Cloud, CloudFlare Workers, CloudFlare KV, CloudFlare Network</p>
        </section>
        <section>
            <h4><strong>2021</strong></h4>
            <p>TypeScript, React, Svelte, Go, PostgresSQL, Google Cloud</p>
        </section>
        <section>
            <h4><strong>2020</strong></h4>
            <p>TypeScript, React, NodeJS, MongoDB, Python, PostgresSQL, Google Cloud</p>
        </section>
        <section>
            <h4><strong>2019</strong></h4>
            <p>HTML, CSS, JavaScript, React, MongoDB, Digital Ocean</p>
        </section>
        <section>
            <h4><strong>2018</strong></h4>
            <p>HTML, CSS, TypeScript, Angular, VueJS</p>
        </section>
        <section>
            <h4><strong>2017</strong></h4>
            <p>HTML, CSS, JavaScript, Angular, NodeJS, MongoDB</p>
        </section>
    </section>

    <section id="Certifications">
        <h3>Certifications</h3>
        <section>
            <h4><strong>Yandex</strong></h4>
            <span class="Duration">May 2019</span>
            <p>School of development of interfaces</p>
        </section>
        <section>
            <h4><strong>Udemy</strong></h4>
            <span class="Duration">August 2020</span>
            <p>Flutter & Dart - The Complete Guide</p>
        </section>
        <section>
            <h4><strong>Udemy</strong></h4>
            <span class="Duration">May 2020</span>
            <p>Learn How To Code: Google's Go (golang) Programming Language</p>
        </section>
        <section>
            <h4><strong>Udemy</strong></h4>
            <span class="Duration">May 2020</span>
            <p>Web Development w/ Google’s Go (golang) Programming Language</p>
        </section>
        <section>
            <h4><strong>Udemy</strong></h4>
            <span class="Duration">September 2019</span>
            <p>React - The Complete Guide (incl Hooks, React Router, Redux)</p>
        </section>
        <section>
            <h4><strong>Udemy</strong></h4>
            <span class="Duration">June 2018</span>
            <p>Understanding TypeScript</p>
        </section>
        <section>
            <h4><strong>Udemy</strong></h4>
            <span class="Duration">June 2019</span>
            <p>GraphQL with React: The Complete Developers Guide</p>
        </section>
    </section>
</main>
{{ end }}
