section {
    display: grid;
    grid-gap: .5rem;
}

header {
    margin-bottom: 1rem;
}

main {
    display: grid;
    grid-template-areas: 'about' 'experience' 'education' 'skills' 'certifications';
}

footer {
    border-top: 1px solid #eee;
    margin: 1rem 0;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    font-size: .875rem;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

footer ul li a {
    color: var(--color-secondary);
    display: inline-flex;
    padding: .5rem 0;
    text-decoration: none;
}

#About {
    border-bottom: 1px solid #eee;
    grid-area: about;
    padding-bottom: 1rem;
}

#Experience {
    grid-area: experience;
}

#Education {
    grid-area: education;
}

#Skills {
    grid-area: skills;
}

#Certifications {
    grid-area: certifications;
}

.Duration {
    color: var(--color-secondary);
    font-size: .75rem;
    font-weight: 400;
    text-transform: uppercase;
}
